<ion-toolbar *ngIf="activePath != 'authentication'" color="none" style="background-color: rgba(255, 255, 255, 0.979);position: fixed;z-index: 2; border-bottom:1px solid rgba(0, 0, 0, 0.274);
box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.199);">
  <ion-icon *ngIf="width<=600" class="bars" name="menu-outline" size="large" color="dark" slot="start"></ion-icon>
  <ion-title slot="start"
    style="font-family:fantasy; font-size:2em; padding-top:20px;padding-bottom: 20px; color:rgb(0, 0, 0)">
    Export<span style="color: rgb(0, 140, 255); font-weight: bolder;" id="content"><span
        style="color: rgb(0, 140, 255); font-weight: bolder;">Portal</span></span>
  </ion-title>
  <div slot="end" *ngIf="width > 600" style="padding-right:100px;">
    <ion-button fill="clear" style="color: rgb(7, 7, 7); font-size:1.2em; font-family: title;"
      *ngIf="activePath != 'home'">
      <span class="hoo">Home</span>
    </ion-button>
    <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
      *ngIf="activePath == 'home'">
      <span class="hoo activated">Home</span>
    </ion-button>

    <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
      *ngIf="activePath != 'home'">
      <span class="hoo">Exporters</span>
    </ion-button>
    <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
      *ngIf="activePath == 'home'">
      <span class="hoo activated">All Exporters</span>
    </ion-button>

    <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
      *ngIf="activePath != 'home'">
      <span class="hoo">Categories</span>
    </ion-button>
    <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
      *ngIf="activePath == 'home'">
      <span class="hoo activated">Available Categories</span>
    </ion-button>

    <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
      *ngIf="activePath != 'home'">
      <span class="hoo">All Products</span>
    </ion-button>
    <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
      *ngIf="activePath == 'home'">
      <span class="hoo activated">Products</span>
    </ion-button>


  </div>
</ion-toolbar>