.flex {
    display: flex;
  }
  .no-wrap {
    flex-wrap: no-wrap;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .col {
    flex-basis: 200px;
    flex-shrink: 1;
    flex-grow: 1;
  }
  
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.images {
    padding-top: 20px;
    height: 10em;
    object-fit: contain;
    width: 100%;
}
  
.span {
  color: #09757a;
}

.paddtop {
  padding-top: 20px;
}
.line-input {
  margin-bottom: 0 !important;
  ion-item {
      --border-color: transparent !important;
      --highlight-height: 0;
      border: 2px solid rgba(0, 0, 0, 0.415);
      --padding-start: 0;
      border-radius: 4px;

      &.item-has-focus {
          border: 1px solid var(--ion-color-primary);
      }

      ion-label {
          color: #807e7e !important;
          font-weight: 300;
          font-size: 1rem !important;
      }
  }
}
ion-input {
  font-size: 10px;
  font-family: "Oxygen", sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.415);
  max-width: 50vh;
  text-align: left;
}